<!DOCTYPE html>
<html>
    <title>
        No Word
    </title>   

    <body>
        <b><h3 style="color: red;" > Sorry but no word was found in the given video</h3></b> 
        <h4>  This usually happens if one of the following things is the case:
            <ul>
                    <li>There is no such word in video </li>                                        
                    <li>You misspelled the word</li>
                   
            </ul>
        </h4>

        <h3 style="color: green;">
            You can go back and try again
        </h3>

    </body>

</html>